
{% if error %}

<div style="color:red;">{{ error }}</div>

{% endif %}

<div>
    <form action="/entry/" method="post">
        <div>
            {% csrf_token %}
            {{ form.as_p }}

            <div id = "row"></div>
            <button onclick="createTextarea()">Create Textarea</button>
            <hr>
            <div class="footer">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

<script>
    let noTextarea = 1;
    function createTextarea(){
        let container = document.getElementById("row")
        container.insertAdjacentHTML('beforeend',"<p>")
        container.insertAdjacentHTML('beforeend',`<label>Context${noTextarea+=1}: </label>`)
        let newTextarea = document.createElement("textarea")
        newTextarea.name = `msgContent${noTextarea}`
        newTextarea.placeholder = "Context";
        newTextarea.cols = "40";
        newTextarea.rows = "10";
        container.insertAdjacentElement('beforeend',newTextarea)
        container.insertAdjacentHTML('beforeend',"</p>")
    }
</script>